.detail {
    flex: 1;
    padding: 2rem 10%;
    align-content: center;
}

.details {
    display: flex;
    align-items: center;
    padding: 3%;
    gap: 10%;
    box-shadow: 1px 1px 4px 1px #80808061;
    border-radius: 20px;
}

.details img {
    min-width: 330px;
    width: 330px;
    height: 350px;
    object-fit: contain;
    flex-shrink: 0;
}

.details h1 {
    font-size: clamp(1.5rem, 2.7vw, 2rem);
}

.details h2 {
    font-size: clamp(1.2rem, 1.8vw, 1.35rem);
}

.details p {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.rating {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.star {
    display: flex;
}

.right > * {
    margin-bottom: 0.7rem;
}


.rating {
    display: flex;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.quantity label {
    display: none;
}

.quantity input {
    width: 3.5rem;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

.quantity button[type="button"] {
    border-radius: 10px;
    background: none;
    border: none;
    width: 30px;
    font-size: 1.5rem;
    color: black;
}

.quantity button[type="button"]:hover {
    background: red;
    color: white;
}

.quantity button[type="button"]:active {
    transform: scale(1.1);
}

.quantity button[type="submit"] {
    font-weight: bold;
    border-radius: 15px;
    font-size: 1.4rem;
    padding: 0.4rem 1.2rem;
    background-color: rgba(255, 0, 0, 0.745);
    color: white;
    border: 1px solid black;
    transition: transform 200ms ease;
}

.quantity button[type="submit"]:hover {
    transform: scale(1.1);
    background-color: rgb(210, 3, 3);
    cursor: pointer;
}

.quantity > div {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .details {
        flex-direction: column;
        text-align: center;
        gap: 2.5rem;
    }

    .rating {
        justify-content: center;
    }

    .details img {
        min-width: 150px;
        width: 50%;
    }
    
}