.card {
    width: 22vw;
    padding: 1.2rem 3%;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 1px #80808061;
    transition: transform 250ms ease;
    min-width: 250px;
}

.card:hover {
    transform: scale(1.07);
}

.card input {
    width: 2.5rem;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

.input button {
    border-radius: 10px;
    background: none;
    border: none;
    width: 30px;
    font-size: 1.5rem;
}

.input button:hover {
    background: red;
    color: white;
}

.input button:active {
    transform: scale(1.1);
}


.card > a:hover {
    text-decoration: underline;
}

.card > * {
    margin-bottom: 0.5rem;
}

.card a:nth-child(2) {
    font-size: clamp(1.1rem, 1.3vw, 1.4rem);
    width: 100%;
    text-decoration: none;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card img {
    margin: auto;
    width: 170px;
    height: 220px;
    object-fit: contain;
    margin-bottom: 1rem;
    transition: transform 150ms ease-out;
}

.card img:hover {
    transform: scale(1.1);
}


.quantity {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card input[type="number"] {
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input h4 {
    flex: 1;
    font-size: 1.3rem;
}

.card button[type="submit"] {
    font-weight: bold;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(255, 0, 0, 0.745);
    color: white;
    border: 1px solid black;
    transition: transform 200ms ease;
    width: 100%;
}

.card button[type="submit"]:hover {
    transform: scale(1.1);
    background-color: rgb(210, 3, 3);
    cursor: pointer;
}

@media (max-width: 768px) {
    .card {
        padding: 1.2rem 20px;
    }
    .card img {
        width: 120px;
        height: 170px;
        object-fit: contain;
    }
}